body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*                               Header Content                             */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 69px;
  border-bottom: 1px solid seashell;
}
.logo {
  height: 50px;
  padding-left: 10px;
  display: flex;
}
.menu {
  display: flex;
  margin: 0 30px 0 10px;
  float: right;
  align-items: center;
}
a {
  color: seashell;
  margin: 0  10px;
  text-decoration: underline;
}

/*                               General Content                             */



/*                               Mission Content                             */
